@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");
:root {
  --Verydarkbluemain: hsl(217, 54%, 11%);
  --Verydarkbluecard: hsl(216, 50%, 16%);
  --Verydarkblueline: hsl(215, 32%, 27%);
  --White: hsl(0, 0%, 100%);
  --Softblue: hsl(215, 51%, 70%);
  --Cyan: hsl(178, 100%, 50%);
}

html {
  font-family: Outfit;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: var(--Verydarkbluemain);
  min-width: 100vh;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

a {
  text-decoration: none;
  color: var(--White);
}

a:hover {
  color: var(--Cyan);
}

.card {
  background-color: var(--Verydarkbluecard);
  max-width: 350px;
  padding: 25px;
  border-radius: 15px;
}

.card .card_img {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
}

.card .card_img:hover::before {
  opacity: 1;
}

.card .card_img::before {
  --softcyan: hsla(178, 100%, 50%, 0.5);
  content: url(../images/icon-view.svg);
  background: var(--softcyan);
  position: absolute;
  inset: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.card .card_img img {
  width: 100%;
  display: block;
}

.card .card_body {
  padding: 23px 0;
  border-bottom: 1px solid var(--Verydarkblueline);
  margin-bottom: 15px;
}

.card .card_body .body_title {
  margin-bottom: 15px;
}

.card .card_body .body_desc {
  color: var(--Softblue);
  line-height: 1.5;
  margin-bottom: 20px;
}

.card .card_body .body_detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card .card_body .body_detail .body_price,
.card .card_body .body_detail .body_time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card .card_body .body_detail .body_price {
  color: var(--Cyan);
}

.card .card_body .body_detail .body_time {
  color: var(--Softblue);
}

.card .card_body .body_detail .price_icon {
  margin-right: 6px;
}

.card .card_body .body_detail .time_icon {
  margin-right: 6px;
}

.card .card_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card .card_footer .avatar {
  border: 1px solid var(--White);
  border-radius: 5em;
  width: 34px;
  margin-right: 18px;
}

.card .card_footer .author {
  color: var(--Softblue);
}
/*# sourceMappingURL=style.css.map */